:root {
  --background-color: #faf9f8;
  --black-color: #000;
  --white-color: #fff;
  --shadow-color: #64748b;
  --hover-color: #ff1818;
  --green-color: #65c18c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-color);
}

body {
  background-color: var(--background-color);
  text-align: center;
}

a {
  text-decoration: none;
}

.l-height {
  line-height: 1.4;
}

.heading1 {
  font-size: 3rem;
}

.heading2 {
  font-size: 2rem;
}

.heading3 {
  font-size: 1.2rem;
}

.navbar,
.hero-section,
.category-list,
.category-item,
.category-header,
.footer-section,
.download-app-links {
  display: flex;
}

.navbar,
.category-header,
.footer-section {
  align-items: center;
}

.category-list,
.download-app-links {
  flex-wrap: wrap;
}

.left-nav .brandname,
.action-btn,
.category-name,
.btn-dismiss,
.secondary-btn,
.download-app-links > img {
  cursor: pointer;
}

.navbar {
  justify-content: space-around;
}

.navbar-item {
  color: var(--black-color);
}

.search-bar > input {
  max-width: 15vw;
  border-radius: 5rem;
  border: none;
}

.right-nav > li > .navbar-item {
  color: var(--black-color);
}

.right-nav > li:hover,
.right-nav > li > .navbar-item:hover,
.onhover:hover {
  color: var(--hover-color);
}

.active {
  color: var(--green-color);
  border-bottom: 1px solid var(--green-color);
}

.hero-section,
.action-btn {
  margin: 1rem 0;
}

.category-list,
.footer-section {
  gap: 1rem;
}

.category-item,
.footer-section {
  flex-direction: column;
}

.hero-img img {
  opacity: 0.6;
}

.hero-section {
  position: relative;
  justify-content: center;
}

.hero-text {
  position: absolute;
  bottom: 50px;
  left: 400px;
}

.action-btn,
.secondary-btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black-color);
}

.action-btn {
  background-color: var(--white-color);
}

.secondary-btn {
  color: var(--white-color);
  background-color: var(--black-color);
}

.category-section {
  margin: 2rem;
}

.category-header {
  justify-content: space-between;
  margin: 5rem 5rem 1rem 5rem;
}

.category-list {
  justify-content: center;
}

.category-item {
  width: 250px;
  height: 450px;
}

.category-item > img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.category-name {
  outline: 1px solid;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
}

.category-name:hover {
  color: var(--black-color);
}

.footer-section {
  margin-top: 3rem;
}

.download-app-links {
  flex-direction: row;
}

.download-app-links > img {
  width: 10rem;
}

.shadow-card {
  color: var(--shadow-color);
}

@media only screen and (max-width: 600px) {
  .right-nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .hero-text {
    bottom: 10px;
    left: 90px;
  }

  .hero-text .hero-heading {
    font-size: 1rem;
  }

  .hero-text .hero-description {
    font-size: 0.5rem;
  }

  .navbar-item {
    display: none;
  }

  .category-header {
    margin: 2rem 0;
  }

  .footer-section > h1 {
    font-size: 0.8rem;
  }

  .heading2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 600px) {
  .hero-text {
    left: 120px;
  }
}

@media only screen and (min-width: 850px) {
  .hero-text {
    position: absolute;
    bottom: 50px;
    left: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .hero-text {
    position: absolute;
    bottom: 50px;
    left: 400px;
  }
}
