:root {
  --bg-color: rgb(250, 249, 248) !important;
}

body {
  background-color: var(--bg-color) !important;
  color: black !important;
}

.search-bar > input {
  border-color: var(--primary-color);
  border-radius: 5rem;
}
